<div class="container-fluid">
  <div class="nav-bar">
    <div class="row">
      <div class="col-3">
        <ul class="header">
          <li><a class="headerLink" routerLink="../create" routerLinkActive="active"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                <path fill-rule="evenodd"
                  d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
              </svg> Add Employee</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Gender</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Address 1</th>
        <th scope="col">Address 2</th>
        <th scope="col" class="action">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td class="truncate">{{emp.id}}</td>
        <td class="truncate">{{emp.firstName}} {{emp.lastName}}</td>
        <td class="truncate">{{emp.email}}</td>
        <td class="truncate">{{emp.age}}</td>
        <td class="truncate">{{emp.dob | date:'dd-MM-yyyy'}}</td>
        <td class="truncate">{{emp.gender}}</td>
        <td class="truncate">{{emp.mobileNumber}}</td>
        <td class="truncate">{{emp.address1}}</td>
        <td class="truncate">{{emp.address2}}</td>
        <td class="links">
          <a (click)="updateEmployee(emp.id)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="#6a1b9a" class="bi bi-pen-fill" viewBox="0 0 16 16">
              <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
            </svg></a>
          <a (click)="confirmDelete(emp.id, emp.firstName)"> <svg xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" fill="#6a1b9a" class="bi bi-trash3-fill" viewBox="0 0 16 16">
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
            </svg></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="showConfirmationDialog" class="overlay">
  <div class="confirmation-dialog">
    <p>Are you sure you want to delete this employee record?</p>
    <button class="confirm-button" (click)="deleteEmployee()">Delete</button>
    <button class="cancel-button" (click)="closeConfirmationDialog()">Cancel</button>
  </div>
</div>